{% extends "base.html" %}{% block title %}Manual{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center">
    <h3>Clockwise</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-primary btn-lg" style="background-color: blue;">Motor X</button>
    <button class="btn btn-primary btn-lg" style="background-color: green;">Motor Y</button>
    <button class="btn btn-primary btn-lg" style="background-color: red;">Motor Z</button>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12 text-center">
    <h3>Counter Clockwise</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-primary btn-lg" style="background-color: blue;">Motor X</button>
    <button class="btn btn-primary btn-lg" style="background-color: green;">Motor Y</button>
    <button class="btn btn-primary btn-lg" style="background-color: red;">Motor Z</button>
  </div>
</div>
{% endblock %}
